.header {
  margin: 10px;
  color: salmon;
}

.new-item {
  margin: 5px;
}

.items {
  margin-right: 5px;
  padding: 5px
}

.list-group-item {
  margin-bottom: 2px;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
  color: grey;
}

.complete label {
  text-decoration: line-through;
  color: grey;
}