.header {
  margin: 10px;
  color: salmon;
}

.new-item {
  margin: 5px;
}

.list-group-item {
  margin-bottom: 2px;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
  color: grey;
}

/* why is this not working */
.complete + label.strikethrough {
  text-decoration: line-through;
  color: grey;
}

#root > div > div > div > ul > div > div > li > label {
  margin: 10px;
}

input.complete {
  text-decoration: line-through;
  color: grey;
}